# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/
#static/

# Environment variables file
.env

# Certificates folder (optional, if you want to ignore local certs)
#cert/

# VSCode settings
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Python coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# pyenv
.python-version

# Pyre type checker
.pyre/

# celery beat schedule file
celerybeat-schedule

# Django migrations (optional, include if you want to ignore migrations)
# **/migrations/
# **/migrations/*.py
# **/migrations/*.pyc
